# Change these values to suit yourself. Place this file in the directory 'mportal/config/'.
[DATABASE]
database = mportal
user = mportal
password = mportal
host = 127.0.0.1

[LOG]
logfile = /home/httpd/logs/mportal.log

[URLS] # Pre-defined urls for templating.
#home = https://127.0.0.1/mportal
home = http://127.0.0.1/mportal
css = http://127.0.0.1/style.css
#console = https://127.0.0.1/mportal/console
console = http://127.0.0.1/mportal/console
