# Change these values to suit yourself. Place this file in the directory 'mportal/config/'.
[DEFAULT]
database = # Database name
user = # User to connect as
password = # password to use
host = 127.0.0.1

[LOG]
logfile = /home/httpd/logs/mportal.log # Log file location

[URLS] # Pre-defined urls for templating.
home = https://127.0.0.1/mportal
css = //127.0.0.1/style.css
console = https://127.0.0.1/mportal/console
